In [7]:
import pandas as pd
import random
from termcolor import colored
import os
import sys
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)
from src import utils

In [8]:
# initial settings
word_len = 5
limit = 1000

# Read data
data = pd.read_csv('../data/unigram_freq.csv')
data.head(10)

   word        count
0   the  23135851162
1    of  13151942776
2   and  12997637966
3    to  12136980858
4     a   9081174698
5    in   8469404971
6   for   5933321709
7    is   4705743816
8    on   3750423199
9  that   3400031103

In [9]:
# Filter for high frequency words with 5 letters only
data_high_freq = utils.generate_word_frequency(data, word_len=word_len, limit=limit)
data_high_freq = [word.upper() for word in data_high_freq]
data_high_freq[:5]

['ABOUT', 'OTHER', 'WHICH', 'THEIR', 'THERE']